 .header{
 display: flex;
 justify-content: space-between;
 border: 1px solid black;
 }
 .body{
    height:1000px;
    width: 100%;
 }
.img{
    width:120px;
 }
 .nav-items{
    font-size: 22px;
 }
 .nav-items>ul{
    display: flex;
    padding:0px 20px;
    list-style-type: none;
 }
 .nav-items>ul>li{
    padding: 10px;
 }
 
 /* body css */
.card-img{
    padding:4px;
    width: 190px;
    height:120px;
     
}
.card>h2{
    margin-top: 5px;
}
 .search{
    padding:10px;
 }
 .res-container{
 border: 1px solid black;
 height:900px;
 padding:20px;
 display: flex;
 flex-wrap: wrap;
 }
 .card{
    height:335px;
    width:200px;
    border:1px solid black;
    margin:7px;
    padding-left: 5px;
    padding-bottom: 4px;
    background-color: rgb(209, 202, 202);
    border-right: groove;
 }
 .card:hover{
    cursor: pointer;
    border: 2px solid black;
 }
 
 .eee{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust the number as needed */
    gap: 10px; /* Adjust as needed */
  }
 .btn{
    width: 115.2px;
    height: 35.2px;
    margin-top: 10px;
    padding-top: 1px;
    margin-bottom: 10px;
 }
 .btn:hover{
    cursor: pointer;
 }
 .footer{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 100px;
    width:100%;
    margin-top: 10px;
    }
.shimmer-container{
    display: flex;
    flex-wrap:wrap ;
}
.shimcard{
    height:335px;
    width:200px;
    border:1px solid rgb(133, 115, 115);
    margin:7px;
    padding-left: 5px;
    padding-bottom: 4px;
    background-color: rgb(209, 202, 202);
    border-right: groove;
}
.filtercard{
    width: 115.2px;
    height: 35.2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    background-color: rgb(209, 202, 202);
    border:1px solid rgb(133, 115, 115);
}
.shimcard-container{
    border: 1px solid #000;
    flex-wrap: wrap;
    height: 900px;
    padding: 20px;
    display: flex;
}